{% extends "base.html" %}

{% block content %}
<div id="homepage">
  <h1>Home</h1>

  <div class="container" id="images-container">
      {% for image in images %}
          <div class="image-post">
              <div class="image-container">
                  <img style="width: 100%; max-width: 400px;" src="/media/{{ image.image }}" alt="Constellation Name" class="post-image">
              </div>
              <div class="info">
                    <p class="user">{{ image.constellation_name }}</p>
                  <p class="user">{{ image.user }}</p>
                  <p class="time">{{ image.time_submitted }}</p>
                  <p class="notes">{{ image.notes }}</p>
              </div>
          </div>
      {% empty %}
          <p id="page-subhead">No uploaded constellations images.</p>
      {% endfor %}
  </div>

  <a id="image-submit-button" href="{% url 'submit' %}">+</a>
</div>




{% endblock %}
