{% extends "base.html" %}

{% block title %}
<title>Submit</title>
{% endblock %}

{% block content %}
<div class="item-form">
  <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="form-col-1">
          <label for="const-name"> Constellation Name:</label><br>
          <input type="text" id ="const-name" name="const-name" placeholder="" required><br>

          <label for="notes">Notes:</label><br>
          <input type="text" id="notes" name="notes" placeholder="" required><br>

          <label id="special-label">Constellation Image:</label><br>

          <label for="image" class="drop-container">
            <input type="file" accept="image/png, image/jpeg, image/jpg" id="special-input" name="image" required>
          </label>
        </div>

        <button type="submit" id="form-submit-button"> Submit </button> 
  </form>
</div>

<button title = "Back to gallery!" id="form-back-button"><a id="form-back-button" href="{% url 'home' %}" style="text-decoration:none;">Back</a></button>
{% endblock %}
