{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Login</title>
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="login-container">
  {% if "next" in request.get_full_path %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      You must log in to continue.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
  <form class="needs-validation" name="login" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
    <p id="login-bottom">Don't have an account? <a href="{% url 'sign_up' %}">Sign up</a>.</p>
  </form>
</div>

<script src={% static 'js/show_password_login.js' %}></script>
{% endblock %}