{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Sign Up</title>
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="signup-container">
  <form class="needs-validation" name="login" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Register</button>
    <br>
    <p id="login-bottom">Have an account? <a href="/login">Login</a>.</p>
  </form>
</div>

<script src={% static 'js/show_password_sign_up.js' %}></script>
{% endblock %}