{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constellation Tracker</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
    <style>
    </style>
    {% block title %}
    {% endblock %}
</head>
  <nav>
    {% if user.is_authenticated %}
    <div class="header">
        <h1>Constellation Tracker</h1>
        <div>
            <a href="/profile">Profile</a>
            <a href="/login">Login/Register</a>
        </div>
    </div>
    {% else %}
    <div class="header">
        <h1>Constellation Tracker</h1>
        <div>
            <a href="/profile">Profile</a>
            <a href="/login">Login/Register</a>
        </div>
    </div>
    {% endif %}
  </nav>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
